@import "~bootstrap/scss/bootstrap";

$neonGreen: #39ff14;

body{
    background-color: whitesmoke;
}

h1{
    margin-bottom: 4vh;
}

.logo-text-color {
    color: $neonGreen;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $neonGreen;
    color: black;
}

.nav-link{
    color: white;
}

.nav-link:focus{
    color: white;
}

.nav-link:hover{
    color: $neonGreen;
}

.btn-neon {
    color: #fff;
    background-color: $neonGreen;
    border-color: green;
}

.card{
    box-shadow: 0 2px 4px rgba(204,204,204, 0.8);
    padding: 20px 40px;
}


