@import "~bootstrap/scss/bootstrap";

$neonGreen: #39ff14;

body{
    background-color: whitesmoke;

}

.sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#login-image{
    background-image: url("/images/elev8-logo-nobg.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 50vh;

}

.login-bg{
    background-color: #212529;
}

.logo-text-color {
    color: $neonGreen;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $neonGreen;
    color: black;
}

.nav-link{
    color: white;
}

.nav-link:focus{
    color: white;
}

.nav-link:hover{
    color: $neonGreen;
}

.btn-neon {
    color: #fff;
    background-color: $neonGreen;
    border-color: green;
}

.card{
    box-shadow: 0 2px 4px rgba(204,204,204, 0.8);
    padding: 20px 40px;
}

.dashboard-container{
    box-shadow: 0 2px 4px rgba(204,204,204, 0.8);
}


